# Introduction
Pandas is a tool invented at a financial investment firm that has become a leading open-source library for accessing and analyzing data in many different fields.

In [4]:
import pandas

Return to the cell with the import and rewrite it like this.

In [5]:
import pandas as pd

This will import the pandas library at the shorter variable name of pd. This is not required but it is standard practice in the pandas community and you will frequently see examples of pandas code online using it as shorthand.

# A simple data analysis


Those two little letters contain dozens of data analysis tools that we’ll use in future lessons.

They can import massive data files, compute advanced statistics, filter, sort, rank and just about anything else you’d want to do.

We’ll get to that soon, but let’s start out with something simple.

First let’s make a list of numbers in a new notebook cell. To keep things simple, I am going to enter all of the even numbers between zero and ten and press play.

In [6]:
my_list = [2, 4, 6, 8]

If you’re a skilled Python programmer, you can do some cool stuff with any list. But hand it over to pandas instead, and you can analyze it without knowing much computer code at all.

In this case, it’s as simple as converting that plain Python list into what pandas calls a Series. Make it happen in your next cell.

In [7]:
my_series = pd.Series(my_list)

Once the data becomes a Series, you can immediately run a wide range of descriptive statistics. Let’s try a few.

First, let’s sum all the numbers. Make a new cell and run this. It should spit out the total.

In [8]:
my_series.sum()

20

Then find the maximum value in the next.

In [ ]:
my_series.max()

8

The minimum value in the next.

In [ ]:
my_series.min()

2

How about the average (also known as the mean)? Keep adding cells and calculating new statistics.

In [ ]:
my_series.mean()

5.0

The median?

In [ ]:
my_series.median()

5.0

The standard deviation?

In [ ]:
my_series.std()

2.581988897471611

And all of the above, plus a little more about the distribution, in one simple command.

In [ ]:
my_series.describe()

count    4.000000
mean     5.000000
std      2.581989
min      2.000000
25%      3.500000
50%      5.000000
75%      6.500000
max      8.000000
dtype: float64

With those simple techniques, we’re only scratching the surface of what pandas makes possible.

Substitute in a series of 10 million records at the top of the stack (or even just the odd numbers between zero and ten), and your notebook would calculate all those statistics again without you having to write any more code.

Once your data, however large or complex, is imported into pandas, there’s little limit to what you can do to filter, merge, group, aggregate, compute or chart using simple methods like the ones above.

# Data
Now it’s time to get our hands on some real data.

Our data source will be the California Civic Data Coalition, an open-source network of journalists and developers that maintains an archive of data tracking money in California politics.

The coalition has created simplified data files containing the disclosure forms that committees campaigning either for against one of the 17 propositions on the ballot in November 2016 filed with the state of California.

They are:

* committees.csv	- Committees active in the election linked to propositions supported or opposed
* contributions.csv - Donors reported by each of the committees

The data are structured in rows of comma-separated values. This is known as a CSV file. It is the most common way you will find data published online.

## Creating a DataFrame
The pandas library is able to read in files from a variety formats, including CSV.

If it’s not currently running start up your Jupyter Notebook.

Scroll down to the first open cell. There we will import the first CSV file listed above using the read_csv function included with pandas.

In [41]:
pd.read_csv('committees.csv')

                                          ocd_prop_id  ...  committee_position
0    ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6  ...             SUPPORT
1    ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6  ...             SUPPORT
2    ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6  ...             SUPPORT
3    ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6  ...              OPPOSE
4    ocd-contest/85990193-9d6f-4600-b8e7-bf1317841d82  ...             SUPPORT
..                                                ...  ...                 ...
97   ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95  ...             SUPPORT
98   ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95  ...             SUPPORT
99   ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95  ...             SUPPORT
100  ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95  ...             SUPPORT
101  ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95  ...             SUPPORT

[102 rows x 8 columns]

After you run the cell, you should see a big table printed below.

It is a DataFrame where pandas has structured the CSV data into rows and columns, just like Excel or other spreadsheet software might.

The advantage here is that rather than manipulating the data through a haphazard series of clicks and keypunches we will be gradually grinding down the data using a computer programming script that is 100% transparent and reproducible.

## Creating a variable
In order to do that, we need to store our DataFrame so it can be reused in subsequent cells. We can do this by saving in a “variable”, which is a fancy computer programming word for a named shortcut where we save our work as we go.

Go back to your initial cell and change it to this. Then rerun it.

In [42]:
committee_list = pd.read_csv("committees.csv")

After you run it, you shouldn’t see anything. That’s a good thing. It means our DataFrame has been saved under the name props, which we can now begin interacting with in the cells that follow.

We can do this by calling “methods” that pandas has made available to all DataFrames.

You may not have known it at the time, but read_csv was one of these methods. There are dozens more that can do all sorts of interesting things. Let’s start with some easy ones that analysts use all the time.

## Using the head method
First, to preview the first few rows of the dataset, try the head method. Hit the + button in the toolbar to add a new cell below the first one. Type this in it and hit the run button again.

In [ ]:
committee_list.head()

AttributeError: ignored

## Using the info method
To get a look at all of the columns and what type of data they store, add another cell and try info.

In [43]:
committee_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ocd_prop_id             102 non-null    object
 1   calaccess_prop_id       102 non-null    int64
 2   ccdc_prop_id            102 non-null    int64
 3   prop_name               102 non-null    object
 4   ccdc_committee_id       102 non-null    int64
 5   calaccess_committee_id  102 non-null    int64
 6   committee_name          102 non-null    object
 7   committee_position      102 non-null    object
dtypes: int64(4), object(4)
memory usage: 6.5+ KB

Look carefully at those results and you see we have more than 100 links between committees and propositions.

## Creating another DataFrame
With that we’re ready to move on to a related, similar task: Importing all of the individual contributions reported to last year’s 17 ballot measures.

We’ll start by using the read_csv method to import the second CSV file linked above. Save it as a new variable just as we did before. Let’s call this one contribs.

In [47]:
contrib_list = pd.read_csv("contributions.csv")

Just as we did earlier, you can inspect the contents of this new file with the head method.

In [48]:
contrib_list.head()

   calaccess_committee_id  ... amount
0                 1386560  ...   84.0
1                 1386560  ...   35.0
2                 1386560  ...  198.0
3                 1386560  ...  -50.0
4                 1386560  ...   50.0

[5 rows x 13 columns]

You should also inspect the columns using the info method. Running these two tricks whenever you open a new file is a good habit to develop so that you can carefully examine the data you’re about to work with.

In [49]:
contrib_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56379 entries, 0 to 56378
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   calaccess_committee_id        56379 non-null  int64
 1   committee_name                56379 non-null  object
 2   calaccess_filing_id           56379 non-null  int64
 3   date_received                 56379 non-null  object
 4   contributor_lastname          56375 non-null  object
 5   contributor_firstname         53411 non-null  object
 6   contributor_city              56369 non-null  object
 7   contributor_state             56363 non-null  object
 8   contributor_zip               56366 non-null  object
 9   contributor_employer          48572 non-null  object
 10  contributor_occupation        53273 non-null  object
 11  contributor_is_self_employed  56379 non-null  bool
 12  amount                        56379 non-null  float64
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 5.2+ MB

# Columns
In this section we’ll begin our analysis by learning how to inspect a column from a DataFrame.

## Accessing a column
We’ll begin with the prop_name column where the proposition each committee sought to influence is stored.

To see the contents of a column separate from the rest of the DataFrame, add the column’s name to the DataFrame’s variable following a period.

In [50]:
committee_list.prop_name

0      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
1      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
2      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
3      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
4      PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...
                             ...
97     PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
98     PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
99     PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
100    PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
101    PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
Name: prop_name, Length: 102, dtype: object

That will list the column out as a Series, just like the ones we created from scratch in chapter three.

And, just as we did then, you can now start tacking on additional methods that will analyze the contents of the column.

In this case, the column is filled with characters. So we don’t want to calculate statistics like the median and average, as we did before.

You can also access columns a second way, like this:

In [51]:
committee_list['prop_name']

0      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
1      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
2      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
3      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
4      PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...
                             ...
97     PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
98     PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
99     PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
100    PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
101    PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
Name: prop_name, Length: 102, dtype: object

This method isn’t as pretty, but it’s required if your column has a space in its name, which would break the simpler dot-based method.

## Counting a column’s values
There’s another built-in pandas tool that will total up the frequency of values in a column. In this case that could be used to answer the question: Which proposition had the most committees?

The method is called value_counts and it’s just as easy to use as sum, min or max. All you need to do it is add a period after the column name and chain it on the tail end of your cell.

In [52]:
committee_list.prop_name.value_counts()

PROPOSITION 057 - CRIMINAL SENTENCES. JUVENILE CRIMINAL PROCEEDINGS AND SENTENCING. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.                           13
PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTHCARE, TOBACCO USE PREVENTION, RESEARCH, AND LAW ENFORCEMENT. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.    12
PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.                                                                                                   11
PROPOSITION 066- DEATH PENALTY. PROCEDURES. INITIATIVE STATUTE.                                                                                                 9
PROPOSITION 055 - TAX EXTENSION TO FUND EDUCATION AND HEALTHCARE. INITIATIVE CONSTITUTIONAL AMENDMENT.                                                          8
PROPOSITION 062- DEATH PENALTY. INITIATIVE STATUTE.                                                                                                             7
PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON SINGLE-USE PLASTIC BAGS.                                                                                         7
PROPOSITION 059- SB 254 (CHAPTER 20, STATUTES OF 2016), ALLEN. CAMPAIGN FINANCE: VOTER INSTRUCTION                                                              6
PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOTER APPROVAL. INITIATIVE CONSTITUTIONAL AMENDMENT.                                                                 4
PROPOSITION 063- FIREARMS. AMMUNITION SALES. INTIATIVE STATUTE.                                                                                                 4
PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-12 SCHOOL AND COMMUNITY COLLEGE FACILITIES. INITIATIVE STATUTORY AMENDMENT.                                       4
PROPOSITION 058 - SB 1174 (CHAPTER 753, STATUTES OF 2014), LARA. ENGLISH LANGUAGE EDUCATION                                                                     4
PROPOSITION 054 - LEGISLATURE. LEGISLATION AND PROCEEDINGS. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.                                                    4
PROPOSITION 061- STATE PRESCRIPTION DRUG PURCHASES. PRICING STANDARDS. INITIATIVE STATUTE.                                                                      3
PROPOSITION 052 - STATE FEES ON HOSPITALS. FEDERAL MEDI-CAL MATCHING FUNDS. INITIATIVE STATUTORY AND CONSTITUTIONAL AMENDMENT.                                  3
PROPOSITION 060- ADULT FILMS. CONDOMS. HEALTH REQUIREMENTS. INITIATIVE STATUTE.                                                                                 2
PROPOSITION 065- CARRY-OUT BAGS. CHARGES. INITIATIVE STATUTE.                                                                                                   1
Name: prop_name, dtype: int64

Run the code and you should see the lengthy proposition names ranked by their number of committees.


## Resetting a DataFrame
You may have noticed that even though the result has two columns, pandas did not return a clean-looking table in the same way as head did for our DataFrame.

That’s because our column, a Series, acts a little bit different than the DataFrame created by read_csv.

In most instances, if you have an ugly Series generated by a method like value_counts and you want to convert it into a pretty DataFrame you can do so by tacking on the reset_index method onto the tail end.

In [53]:
committee_list.prop_name.value_counts().reset_index()

                                                index  prop_name
0   PROPOSITION 057 - CRIMINAL SENTENCES. JUVENILE...         13
1   PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...         12
2   PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...         11
3   PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...          9
4   PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...          8
5   PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...          7
6   PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...          7
7   PROPOSITION 059- SB 254 (CHAPTER 20, STATUTES ...          6
8   PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...          4
9   PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...          4
10  PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...          4
11  PROPOSITION 058 - SB 1174 (CHAPTER 753, STATUT...          4
12  PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...          4
13  PROPOSITION 061- STATE PRESCRIPTION DRUG PURCH...          3
14  PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...          3
15  PROPOSITION 060- ADULT FILMS. CONDOMS. HEALTH ...          2
16  PROPOSITION 065- CARRY-OUT BAGS. CHARGES. INIT...          1

Why do Series and DataFrames behave differently? Why does reset_index have such a weird name?

Like so much in computer programming, the answer is simply “because the people who created the library said so.”

That’s not worth stressing about in this case, but it’s important to learn that all open-source programming tools have their quirks. Over time you’ll learn pandas has more than a few.

As a beginner, you should just accept the oddities and roll with it. As you get more advanced, if there’s something about the system you think could be improved you should consider contributing to the Python code that operates the library you’d like to improve.

# Filters
Until November 2016, the use and sale of marijuana for recreational purposes was illegal in California. That changed when voters approved Proposition 64, which asked if the practice ought to be legalized.

A yes vote supported legalization. A no vote opposed it. In the final tally, 57% of voters said yes.

Our next mission is to use the DataFrames containing campaign committees and contributors to figure out the biggest donors both for and against the measure.

To do that, the first thing we need to do is isolate the fundraising committees active on Proposition 64, which are now buried among of the list of more than 100 groups active last November.

## Filtering a DataFrame
The most common way to filter a DataFrame is to pass an expression as an “index” that can be used to decide which records should be kept and which discarded.

You write the expression by combining a column on your DataFrame with an “operator” like == or > or < and a value to compare the column against.

If you are familiar with writing SQL to manipulate databases, pandas’ filtering system is somewhat similar to a WHERE query. The official pandas documentation offers direct translations between the two.

In our case, the column we want to filter against is prop_name. We only want to keep those records where the value there matches the full name of Proposition 64.

Where do we get that? Our friend value counts.

Running the command we learned before to list and count all of the proposition names will spit out the full name of all 17 measures.

In [ ]:
committee_list.prop_name.value_counts()

From that result we can copy the full name of the proposition and place it between quotation marks in a variable in a new cell. This will allow us to reuse it later.

In [ ]:
my_prop = 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.'

In the next cell we will ask pandas to narrow down our list of committees to just those that match the proposition we’re interested in. We will create a filter expression that looks like this: committee_list.prop_name == my_prop, and place it between two flat brackets following the variable we want to filter. Place the following code in the next open cell in your notebook.

In [ ]:
committee_list[committee_list.prop_name == my_prop]

Run it and it outputs the filtered dataset, just those committees active on Proposition 64.

Now we should save the results of that filter into new variable separate from the full list we imported from the CSV file.

Since it includes only the committees for one proposition lets call it the singular prop.

In [ ]:
my_committees = committee_list[committee_list.prop_name == my_prop]

To check our work find out how many committees are left after the filter, let’s run the DataFrame inspection commands we learned earlier.

First head.

In [ ]:
my_committees.head()

Then info.

In [ ]:
my_committees.info()

# Merge
Our next job is to filter down the contributions list, which includes all disclosed contributions to all proposition campaigns, to just those linked to Proposition 64.

We could try to do this with a filter, as we did before with the committees.

But look carefully at the columns listed in the contribution file’s info output.

In [ ]:
contrib_list.info()

Now compare that to the committees file.

In [ ]:
committee_list.info()

You will notice that this file contains a field called calaccess_committee_id that is identical to the one found in the committee CSV.

That’s because these two files are drawn from a “relational database” that stores data in an array of tables linked together by common identifiers. In this case, the unique identifying codes of committees in one table can be expected to match those found in another.

We can therefore safely join the two files using the pandas merge method.

Note

Again, if you are familar with traditional databases, you may recognize that the merge method in pandas is similar to SQL’s JOIN statement. If you dig into merge’s documentation you will see it has many of the same options, such as the ability to conduct “inner” and “outer” joins.

## Merging DataFrames
By default the merge method in pandas will return only those rows where a common identifier found in both tables, which is known as an “inner” join.

That means that if we merge the full contributions file to our filtered list of Proposition 64 committees, only the contributions to the Proposition 64 committees will remain. The result will be equivalent to a filter.

That’s exactly what we want. So let’s try it.

Merging two DataFrames is as simple as passing both to pandas built-in merge method and specifying which field we’d like to use to connect them together. We will save the result into another new variable.

In [ ]:
merged = pd.merge(my_committees, contrib_list, on="calaccess_committee_id")

That new DataFrame variable can be inspected like any other.

In [ ]:
merged.head()

By looking at the columns you can check how many rows survived the merged.

In [ ]:
merged.info()

You can also see that the DataFrame now contains all of the columns in both tables. Columns with the same name have had a suffix automatically appended to indicate whether they came from the first or second DataFrame submitted to the merge.

We have now created a new dataset that includes only contributions supporting and opposing Proposition 64. We’re ready to move on from preparing our data. It’s time to interview it.

# Totals
In some ways, your database is no different from a human source. Getting a good story requires careful, thorough questioning. In this section we will move ahead by conducting an interview with pandas to pursue our quest of finding out the biggest donors to Proposition 64.

Using tricks we learned as far back as chapter three, we can start off by answering a simple question: What is the total sum of Proposition 64 contributions that have been reported?

## Summing a column
To answer that let’s start by getting our hands on amount, the column from the contributions DataFrame with the numbers in it. We can do that just as we did with other columns earlier.

In [ ]:
merged.amount

Now we can add up the column’s total using the pandas method sum, just as we did when we were first getting started with pandas

In [ ]:
merged.amount.sum()

And printed out below your cell, there’s our answer.

We’ve completed our first piece of analysis and discovered the total amount spent on this proposition.

Time to run off to Twitter and publish our results to the world, right?

Wrong.

## How not to be wrong
The total we generated is not the overall total raised in the campaign, and it is guaranteed to be lower than the totals reported in the media and by the campaigns.

Why?

In California, campaigns are only required to disclose the names of donors who give over $100, so our data is missing all of the donors who gave less than that amount.

The cutoff varies, and there are some exceptions, but the same thing is true in other states and also at the federal level in races for Congress and the White House.

The overall totals are instead reported on cover sheets included with disclosure reports that lump together all the smaller contributions as part of a grand total. Those are the records most commonly cited to total up a campaign’s fundraising.

The result is that an itemized list of contributions, like the one we have, cannot be used to calculate a grand total. That’s true in California and virtually anywhere else you work with campaign data. Overlooking that limitation is a rookie mistake routinely made by analysts new to this field.

But that doesn’t mean our data is worthless. We just have to use it responsibly. In many cases, professional campaign reporters will refer to an analysis drawn from a list like ours as applying only to “large donors.”

Since large donors typically account for most of the money, the results are still significant. And the high level of detail included in each record — like the donor’s name, employer and occupation — makes the limitations worth working through.

## Which side got more large donations?
Adding up a big total is all well and good. But we’re aiming for something more nuanced.

We want to separate the money spent supporting the proposition from the money opposing it. Then we want to find out who raised more.

To answer that question, let’s return to the filtering technique we learned in chapter seven.

First let’s look at the column we’re going to filter by, committee_position.

In [ ]:
merged.committee_position.value_counts()

Now let’s filter our merged table down using that column and the pandas filtering method that combines a column, an operator and the value we want to filter by. Let’s stick the result in a variable

In [ ]:
support = merged[merged.committee_position == 'SUPPORT']

Now let’s repeat all that for opposing contributions. First the filter into a new variable.

In [ ]:
oppose = merged[merged.committee_position == 'OPPOSE']

Now sum up the total disclosed contributions to each for comparison. First the opposition.

In [ ]:
oppose.amount.sum()

Then the supporters.

In [ ]:
support.amount.sum()

The support is clearly larger. But what percent is it of the overall disclosed total? We can find out by combining two sum calculations using the division operator.

In [ ]:
support.amount.sum() / merged.amount.sum()

# Sorting
Another simple but common technique for analyzing data is sorting.

What were the ten biggest contributions? We can find the answer by using the sort_values method to rearrange our list using the amount field.

In [ ]:
merged.sort_values("amount")

Note that returns the DataFrame resorted in ascending order from lowest to highest. That is pandas default way of sorting.

To answer our question you’ll need to reverse that, so that values are sorted in descending order from biggest to smallest. It’s a little tricky at first, but here’s how to do it with sort_values.

In [ ]:
merged.sort_values("amount", ascending=False)

You can limit the result to the top five by chaining the head method at the end.

In [ ]:
merged.sort_values("amount", ascending=False).head()

We can now use the new variable to rank the five biggest supporting contributions by using sort_values again.

In [ ]:
support.sort_values("amount", ascending=False).head()

And now how about the opposition.

In [ ]:
oppose.sort_values("amount", ascending=False).head()

# Groupby
To take the next step towards ranking the top contributors, we’ll need to learn a new trick. It’s called groupby.

It’s a pandas method that allows you to group a DataFrame by a column and then calculate a sum, or any other statistic, for each unique value. This is necessary when you want to rack up statistics on a long list of values, or about a combination of fields.

## Grouping by one field
As we’ve been digging through the data, I’m sure a few questions have popped into mind. One interesting field in the contributions list is the home state of the contributor. A natural question follows: How much of the money came from outside of California?

If you scroll back up and look carefully as the info command we ran after merging out data, you will noticed it includes a column named contributor_state.

That’s the field we want to group with here. Here’s how you do it.

In [ ]:
merged.groupby("contributor_state")

A nice start. But you’ll notice you don’t get much back. The data’s been grouped by state, but we haven’t chosen what to do with it yet. We want totals by state, so we can sum the amount field the same way we did earlier for the entire DataFrame.

In [ ]:
merged.groupby("contributor_state").amount.sum()

Again our data has come back as an ugly Series. To reformat it as a pretty DataFrame use the reset_index method again.

In [ ]:
merged.groupby("contributor_state").amount.sum().reset_index()

Sorting the biggest totals to the top is as easy as appending the sort_values trick we already know to the end. And voila there’s our answer.

In [ ]:
merged.groupby("contributor_state").amount.sum().reset_index().sort_values("amount", ascending=False)

## Grouping by multiple fields
Finding the top contributors is almost as easy, but since the first and last names are spread between two fields we’ll need to submit them to groupby as a list. Copy the last line above, and replace “contributor_state” with a list like the one here:

In [ ]:
merged.groupby(["contributor_firstname", "contributor_lastname"]).amount.sum().reset_index().sort_values("amount", ascending=False)

You should be noticing that several of the top contributors appear to be the same person with their name entered in slightly different ways. This is another important lesson of campaign contributions data. Virtually none of the data is standardized by the campaigns or the government. The onus is on the analyst to show caution and responsibly combine records where the name fields refer to the same person.

To find out if each contributor supported or opposed the measure, you simple add that field to our groupby method.

In [ ]:
merged.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False)

If you wanted just the top supporters or opponents alone, you could run those same commands with the support and oppose datasets we filtered down to earlier. Everything else about the commands would be the same as the first one above.

For the supporters:

In [ ]:
support.groupby(["contributor_firstname", "contributor_lastname"]).amount.sum().reset_index().sort_values("amount", ascending=False)

For the opponents:

In [ ]:
oppose.groupby(["contributor_firstname", "contributor_lastname"]).amount.sum().reset_index().sort_values("amount", ascending=False)

## How not to be wrong
You’ve done it. Our brief interview is complete and you’ve answered the big question that started our inquiry.

Or so you think! Look again at our rankings above. Now compare them against the ranking we looked at earlier in our sorting lesson.

Study it closely and you’ll see an important difference. All of the contributors without a first name are dropped from our groupby lists. And some of them gave a lot of money.

This is happening because if another pandas quirk. Empty fields are read in by pandas as null values, which is a mathematical representation of nothing. In pandas a null is called a NaN, an abbreviation for “not a number” commonly used in computer programming.

And, guess what, pandas’ groupby method will drop any rows with nulls in the grouping fields. So all those records without a first name were silently excluded from our analysis. Yikes!

Whatever our opinion of pandas’ default behavior, it’s something we need to account for, and a reminder that we should never assume we know what computer programming tools are doing under the hood. As with human sources, everything you code tells you should be viewed skeptically and verified.

The solution to this problem is easy. We need to replace those NaN first names with empty strings, which pandas won’t drop. We can do that by using pandas’ fillna method ahead of the group.

In [ ]:
merged.fillna("").groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False)

Now we’ve finally got a ranking we can work with. Congratulations, you’ve finished our analysis.

## Extra credit
If you’re interested in continuing the interview, see if you can answer a few more questions on your own. Here are some ideas:

* What are the top employers of donors for and against the measure?
* Which committees had the fewest donors?
* What was the average size of donations both for and against?

# Remix
Now here’s where things get fun. Your entire analysis is scripted top to bottom, which means it can be rerun and reproduced. It also be remixed.

Remember this line earlier?

In [ ]:
my_prop = 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.'

That’s where we set which proposition we wanted to filter on. It was a key fork in the road, which shaped all the analysis that followed.

That means that if we substituted a different proposition name from the value_counts list just above it we could rerun our notebook and conduct an identical analysis of another proposition, without writing another line of code.

Let’s try it. I picked the death penalty ban that was on the same ballot and changed that cell of code to this:

In [ ]:
my_prop = 'PROPOSITION 062- DEATH PENALTY. INITIATIVE STATUTE.'

Now I go to the Run menu at the top of the notebook and selected “Run All Cells.” Wait a few seconds and, boom, you’ll have a whole new of donors plotted out.